.container{
    background-color: gray;
    max-width: 300px;
    border-radius: 14px;
    padding: 20px;
    padding-bottom: 100px;
    box-shadow: -14px 7px 6px darkgrey;
    margin: 50px;
    margin-bottom: 20px; 
}

.cardP{
    color: white;
    text-align: center;
    margin: auto;
    font-size: 1.5em;
}