form>div>input[type="text"]{
    border: none;
    border-radius: 14px;
    font-size: 20px;
    height: 45px;
    margin-bottom: 20px;
}

form{
    background-color: lightgray;
    border-radius: 10px;
    text-align: start;
    padding: 50px;
}

.btn-form{
    width: 300px;
    height: 50px;
    border-radius: 14px;
    border: none;
    background-color: dodgerblue;
    transition: 0.1s ease-in;
}
.btn-form:hover{
    background-color: rgb(16, 111, 207);
}

.radio-cont-1{
    margin: 20px;
}
.radio-cont-2{
    margin: 20px;
}