.details-button{
    background-color: aqua;
    transition: 0.3s ease-in-out;
}
.details-button:hover {
    background-color: aquamarine;
    color: black;
    scale: 1.1;
    border: none;
}

.product-cards{
    width: 15%;
    background-color: grey;
    border-radius: 14px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: -10px 10px rgb(182, 180, 182);
}

.product-container{
    display: flex;
    gap: 10%;
    row-gap: 50px;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 6vh;
}

.product-name{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.titulo{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 50px;
}