body{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
p{
    padding-top: 1%;
}
.bg-secondary2{
    background-color: rgb(208, 208, 208);
}
.bg-secondary3{
    background-color: rgb(174, 174, 174);
}
.bg-secondary4{
    background-color: rgb(102, 102, 102);
}
.bg-secondary5:hover{
    background-color: rgb(54, 54, 54);
    color: white;
}
.bg-secondary6:hover{
    background-color: rgb(117, 117, 117);
    color: rgb(255, 255, 255);
}